<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="defaultPushSource" value="https://www.myget.org/F/atiget/api/v3/index.json" />
  </config>
  <packageSources>
    <add key="solution" value="output/packages" />
    <add key="myget" value="https://www.myget.org/F/atiget/api/v3/index.json" />
  </packageSources>
  <apikeys>
    <add key="https://www.myget.org/F/atiget/api/v3/index.json" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAsH3CAl7cR0eu1rpYpykytwAAAAACAAAAAAADZgAAwAAAABAAAACeCSBObSOv6qX/EsAFm5EVAAAAAASAAACgAAAAEAAAAMcWKs+JtmmnV+6hlz3YJ/QoAAAAtZpzB0Yki/scAF9LQkkL81XwZbVHrXOb7nuxPiyKpXaeLX4Qjsnl1hQAAADQ06e0bcbryzgqrMl5ppZwDtmHrA==" />
  </apikeys>
</configuration>
